@page "/Account/ExternalLogin"

@using System.ComponentModel.DataAnnotations
@using System.Security.Claims
@using System.Text
@using System.Text.Encodings.Web
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.WebUtilities
@using Blink.WebApp.Data

@inject SignInManager<BlinkUser> SignInManager
@inject UserManager<BlinkUser> UserManager
@inject IUserEmailStore<BlinkUser> UserEmailStore
@inject IEmailSender<BlinkUser> EmailSender
@inject NavigationManager NavigationManager
@inject IdentityRedirectManager RedirectManager
@inject ILogger<ExternalLogin> Logger

<PageTitle>Register</PageTitle>

<div class="page">
    <StatusMessage Message="@Message" />

    <h1 class="page-title">Complete Your Profile</h1>

    <Paper>
        <div class="paper-content">

            @*<h2 class="page-subtitle">Associate your @ProviderDisplayName account.</h2>*@

            <EditForm Model="Input" OnValidSubmit="OnValidSubmitAsync" FormName="confirmation" method="post">
                <DataAnnotationsValidator />

                <AppAlert Level="AlertLevel.Info">
                    You've successfully authenticated with <span class="bold">@ProviderDisplayName</span>.
                    Please enter an email address for this site below and click the Register button to finish logging in.
                </AppAlert>


                <BlinkFormField FieldId="Input.Email" Label="Email address">
                    <BlinkInputText @bind-Value="Input.Email" autocomplete="username" aria-required="true" placeholder="name@example.com" type="email" />
                </BlinkFormField>

                <div>
                    <BlinkButton ButtonTheme="BlinkButtonTheme.Primary" ButtonType="BlinkButtonType.Submit" Disabled="@(RequestStatus is RequestStatus.Sending)" Id="confirmButton">
                        Complete Registration
                    </BlinkButton>
                </div>

            </EditForm>
        </div>
    </Paper>
</div>
