.page {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 3rem;
    height: 100%;
}

.page-title {
    text-align: center;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 2.25rem;
    letter-spacing: -0.025em;
}

::deep .paper {
    max-width: 480px;
    width: 100%;
}

.paper-content {
    padding: 3rem;
}

    .paper-content > ::deep form > *:not(:last-child) {
        margin-bottom: 1.5rem;
    }

.form-groups {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

#socialLogins {
    margin-top: 2.5rem;
    font-size: 0.875rem;
}

.external-login-button ::deep svg {
    height: 1.25rem;
    width: 1.25rem;
}
