root = true

[*]
indent_style = space

[*.{csproj,css}]
indent_size = 2

[*.cs]
# IDE0290: Use primary constructor
csharp_style_prefer_primary_constructors = false
resharper_convert_to_primary_constructor_highlighting = none

[*.{html,razor}]
indent_size = 4