<!DOCTYPE html>
<html lang="en" class="h-full bg-white dark:bg-gray-900 text-gray-900 dark:text-gray-300">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="/"/>
    <ResourcePreloader/>
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
    <link rel="stylesheet" href="@Assets["main.css"]"/>
    <link rel="stylesheet" href="@Assets["Blink.Web.styles.css"]"/>
    <ImportMap/>
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
</head>

<body class="h-full">
    <Routes />
    <ReconnectModal/>
    <script src="@Assets["_framework/blazor.web.js"]"></script>
    <script src="@Assets["https://cdn.jsdelivr.net/npm/@tailwindplus/elements@1"]" type="module"></script>
</body>

</html>