.blink-button {
    /* Layout */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 0.75rem 1.5rem;
    /* Color */
    background-color: white;
    /* Border */
    border-width: 1px;
    border-style: solid;
    border-radius: 0.375rem;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    /* Font Style */
    font-size: 0.875rem;
    font-weight: 600;
    /* Behavior */
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

    .blink-button:hover {
        background-color: rgb(var(--colors-gray-100-rgb));
    }

    .blink-button.blink-button-theme-primary {
        color: white;
        background-color: rgb(var(--colors-orange-600-rgb));
        border-color: rgb(var(--colors-orange-600-rgb));
    }

        .blink-button.blink-button-theme-primary:hover {
            background-color: rgb(var(--colors-orange-500-rgb));
        }
