.blink-divider {
    position: relative;
}

.blink-divider-line {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .blink-divider-line::after {
        content: '';
        width: 100%;
        border-top: 1px solid rgb(var(--colors-gray-200-rgb));
    }

.blink-divider-text {
    position: relative;
    display: flex;
    justify-content: center;
    font-size: 0.875rem;
    font-weight: 500;
}

    .blink-divider-text > span {
        background-color: white;
        padding: 0 1.5rem;
    }