@inherits LayoutComponentBase

<NavMenu />

<main class="py-10 lg:pl-72">
    <div class="px-4 sm:px-6 lg:px-8">
        @Body
    </div>
</main>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>