@inherits LayoutComponentBase
@implements IDisposable
@inject NavigationManager NavigationManager
@inject IVariantFeatureManager FeatureManager

<header class="border-bottom">
    <div class="account-info">
        <AuthorizeView>
            <Authorized>
                @if (IsProfileManagementFeatureEnabled)
                {
                    <div class="header-item">
                        <NavLink class="nav-link" href="Account/Manage">
                            @context.User.Identity?.Name
                        </NavLink>
                    </div>
                }
                <div class="header-item">
                    <form action="Account/Logout" method="post">
                        <AntiforgeryToken />
                        <input type="hidden" name="ReturnUrl" value="@CurrentUrl" />
                        <BlinkButton ButtonTheme="BlinkButtonTheme.Default" ButtonSize="BlinkButtonSize.Small" ButtonType="BlinkButtonType.Submit" Id="navLogoutButton">
                            Logout
                        </BlinkButton>
                    </form>
                </div>
            </Authorized>
            <NotAuthorized>
                <div class="header-item">
                    <BlinkButton ButtonTheme="BlinkButtonTheme.Primary" ButtonSize="BlinkButtonSize.Small" Id="navLoginButton" Href="Account/Login">
                        Login
                    </BlinkButton>
                </div>
            </NotAuthorized>
        </AuthorizeView>
    </div>
</header>

<main>
    @Body
</main>

@code {
    private string? CurrentUrl { get; set; }
    private bool IsProfileManagementFeatureEnabled { get; set; }

    protected override async Task OnInitializedAsync()
    {
        IsProfileManagementFeatureEnabled = await FeatureManager.IsEnabledAsync(FeatureFlags.ProfileManagement);

        CurrentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        CurrentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}