@inherits LayoutComponentBase
@implements IDisposable
@inject NavigationManager NavigationManager

<header class="border-bottom">
    <div class="account-info">
        <AuthorizeView>
            <Authorized>
                <div class="header-item">
                    <NavLink class="nav-link" href="Account/Manage">
                        @context.User.Identity?.Name
                    </NavLink>
                </div>
                <div class="header-item">
                    <form action="Account/Logout" method="post">
                        <AntiforgeryToken />
                        <input type="hidden" name="ReturnUrl" value="@CurrentUrl" />
                        <button type="submit" class="nav-link">
                            <span class="bi bi-arrow-bar-left-nav-menu" aria-hidden="true"></span> Logout
                        </button>
                    </form>
                </div>
            </Authorized>
            <NotAuthorized>
                <div class="header-item">
                    <NavLink class="nav-link" href="Account/Login">
                        Login
                    </NavLink>
                </div>
            </NotAuthorized>
        </AuthorizeView>
    </div>
</header>

<main>
    @Body
</main>

@code {
    private string? CurrentUrl { get; set; }

    protected override void OnInitialized()
    {
        CurrentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        CurrentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}