header {
  background-color: white;
  display: flex;
  padding: 1rem 3rem;
}

  header .account-info {
    margin-left: auto;
    display: flex;
    gap: 0.25rem;
    align-items: center;
  }

main {
    flex-grow: 1;
}