@page "/auth"

@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]
@rendermode InteractiveAuto

<PageTitle>Auth</PageTitle>

<h1>You are authenticated</h1>

<AppAuthorizeView>
    Hello @context.UserName!
</AppAuthorizeView>
    
<AuthorizeView>
    
    <ul>
        @foreach (var claim in context.User.Claims)
        {
            <li>@claim.Type = @claim.Value</li>
        }
    </ul>
</AuthorizeView>