@page "/auth"

@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]
@rendermode InteractiveAuto

<PageTitle>Auth</PageTitle>

<div class="text-gray-700 dark:text-white">
    <h1>You are authenticated</h1>

    <AppAuthorizeView>
        Hello @context.UserName!
    </AppAuthorizeView>
    
    <AuthorizeView>
    
        <ul>
            @foreach (var claim in context.User.Claims)
            {
                <li>@claim.Type = @claim.Value</li>
            }
        </ul>
    </AuthorizeView>
</div>