@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Identity
@using Blink.WebApp.Data

@inject SignInManager<BlinkUser> SignInManager
@inject IdentityRedirectManager RedirectManager

@if (ExternalLogins.Length != 0)
{
    <form class="form-horizontal" action="Account/PerformExternalLogin" method="post">
        <div>
            <AntiforgeryToken />
            <input type="hidden" name="ReturnUrl" value="@ReturnUrl" />
            <p>
                @foreach (var provider in ExternalLogins)
                {
                    <button type="submit" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">
                        @provider.DisplayName
                    </button>
                }
            </p>
        </div>
    </form>
}

@code {
    private AuthenticationScheme[] ExternalLogins { get; set; } = [];

    [SupplyParameterFromQuery]
    private string? ReturnUrl { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var externalLogins = await SignInManager.GetExternalAuthenticationSchemesAsync();
        ExternalLogins = externalLogins.ToArray();
    }
}
