@using System.Linq.Expressions

<div class="blink-input">
    <InputText id="@FormField?.FieldId" @attributes="@AdditionalAttributes" Value="@Value" ValueChanged="@ValueChanged" ValueExpression="@ValueExpression" />
</div>

<ValidationMessage For="ValueExpression" class="validation-error" />

@code {

    [CascadingParameter]
    private BlinkFormField? FormField { get; set; }

    [Parameter(CaptureUnmatchedValues = true)]
    public IReadOnlyDictionary<string, object>? AdditionalAttributes { get; set; }

    [Parameter]
    public string? Value { get; set; }

    [Parameter]
    public EventCallback<string> ValueChanged { get; set; }

    [Parameter]
    public Expression<Func<string>>? ValueExpression { get; set; }
}
