.blink-input {
    position: relative;
    width: 100%;
}

    .blink-input ::deep input {
        /* Layout */
        display: block;
        padding: 0.375rem 0.75rem;
        width: 100%;
        /* Color */
        background-color: white;
        /* Border */
        border-radius: 0.375rem;
        outline: 1px solid rgb(var(--border-color-rgb));
        /*Size*/
        font-size: 0.875rem;
        line-height: 1.5rem;
    }


.blink-form-field-label {
    display: block;
    font-size: 0.875rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}