@using System.Linq.Expressions

<div class="blink-form-field">
    @if (Label is not null)
    {
        <label class="blink-form-field-label" for="@FieldId">@Label</label>
    }
    <CascadingValue Value="this">
        @ChildContent
    </CascadingValue>
</div>

@code {

    [Parameter]
    public string FieldId { get; set; } = Guid.NewGuid().ToString();

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public string? Label { get; set; }
}