/* Heavily inspired by (copied from) Tailwind */

:root {
  --colors-gray-50-rgb: 249 250 251;
  --colors-gray-100-rgb: 243 244 246;
  --colors-gray-200-rgb: 229 231 235;
  --colors-gray-300-rgb: 209 213 219;
  --colors-gray-400-rgb: 156 163 175;
  --colors-gray-500-rgb: 107 114 128;
  --colors-gray-600-rgb: 75 85 99;
  --colors-gray-700-rgb: 55 65 81;
  --colors-gray-800-rgb: 31 41 55;
  --colors-gray-900-rgb: 17 24 39;
  --colors-gray-950-rgb: 3 7 18;

  --background-color-rgb: var(--colors-gray-50-rgb);
  --background-opacity: 1;
  
  --border-color-rgb: var(--colors-gray-300-rgb);
  --border-opacity: 1;

  --text-color-rgb: var(--colors-gray-900-rgb);
  --text-opacity: 1;
}

*, ::before, ::after {
  border-color: rgb(var(--border-color-rgb) / var(--border-opacity));
  color: rgb(var(--text-color-rgb) / var(--text-opacity));
}

body {
  background-color: rgb(var(--background-color-rgb) / var(--background-opacity));
}

.border-gray-200 {
  --border-color-rgb: var(--colors-gray-200-rgb);
  --border-opacity: 1;
}

.border-gray-300 {
  --border-color-rgb: var(--colors-gray-300-rgb);
  --border-opacity: 1;
}

.text-gray-200 {
  --text-color-rgb: var(--colors-gray-200-rgb);
  --text-opacity: 1;
}

.text-gray-300 {
  --text-color-rgb: var(--colors-gray-300-rgb);
  --text-opacity: 1;
}

.text-gray-400 {
  --text-color-rgb: var(--colors-gray-400-rgb);
  --text-opacity: 1;
}
