table {
  font-size: 0.875rem;
  border-collapse: collapse;
}

.table > * + * {
  --border-color-rgb: var(--colors-gray-300-rgb);
  border-top-width: 1px;
}

.table tbody > * + * {
  --border-color-rgb: var(--colors-gray-200-rgb);
  border-top-width: 1px;
}

.table th,
.table td {
  text-align: left;
}

.table th {
  padding: 0.75rem 0.875rem;
  font-weight: 500;
}

.table td {
  padding: 0.75rem 1rem;
}

/*
.table-bordered {
  border-width: 1px;
}

.table-bordered th:not(:first-child), 
.table-bordered td:not(:first-child) {
  border-left-width: 1px;
}
*/