@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
  font-family: "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-optical-sizing: auto;
}

p {
  font-size: 1rem;
  line-height: 1.5rem;
}

em {
  font-weight: 300;
}

.h1 {
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 700;
}

.semi-bold {
  font-weight: 500;
}

.bold {
  font-weight: 700;
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}
