.border-bottom {
  border-bottom: 1px solid rgb(var(--border-color-rgb) / var(--border-opacity));
}

.border-top {
  border-top: 1px solid rgb(var(--border-color-rgb) / var(--border-opacity));
}

.absolute {
  position: absolute;
}

.inset-0 {
  inset: 0;
}

.relative {
  position: relative;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.w-100 {
    width: 100%;
}