@rendermode InteractiveServer

<div class="relative">
    <div id="@_elementId"
         contenteditable="true"
         data-placeholder="@Placeholder"
         class="w-full px-4 py-2 border border-gray-300 dark:border-gray-700 rounded-lg bg-white dark:bg-gray-800 text-gray-900 dark:text-gray-100 focus:outline-none focus:ring-2 focus:ring-blue-500 dark:focus:ring-blue-600 overflow-y-auto mention-textarea"
         style="min-height: calc(@Rows * 1.5em);"
         role="textbox"
         aria-multiline="true"
         aria-label="@AriaLabel"
         @onblur="OnBlur">
    </div>
</div>