@page "/account"

@attribute [Authorize]
@inject UsersApiClient ApiClient

<PageTitle>Account</PageTitle>

<h1>My Account</h1>

@if (UserClaims is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <AuthorizeView>
        <Paper>
            <table class="table">
                <thead>
                <tr>
                    <th>Claim Type</th>
                    <th>Value (From API)</th>
                    <th>Value (From Client App)</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var (claimType, values) in UserClaims.OrderBy(x => x.Key))
                {
                    <tr class="font-monospace">
                        <td>@claimType</td>
                        <td>@string.Join(", ", values)</td>
                        <td>@string.Join(", ", context.User.Claims.Where(x => x.Type == claimType).Select(x => x.Value))</td>
                    </tr>
                }
                </tbody>
            </table>
        </Paper>
    </AuthorizeView>
}

@code {

    private Dictionary<string, string[]>? UserClaims { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var claims = await ApiClient.ListCurrentUserClaimsAsync();
        UserClaims = claims.GroupBy(x => x.Type).ToDictionary(x => x.Key, x => x.Select(c => c.Value).ToArray());
    }
    
}