<div class="alert alert-@Level.ToString().ToLower()">
    <span class="alert-icon">
        @if (Level is AlertLevel.Info)
        {
            <svg viewBox="0 0 20 20" fill="currentColor" data-slot="icon" aria-hidden="true">
                <path d="M18 10a8 8 0 1 1-16 0 8 8 0 0 1 16 0Zm-7-4a1 1 0 1 1-2 0 1 1 0 0 1 2 0ZM9 9a.75.75 0 0 0 0 1.5h.253a.25.25 0 0 1 .244.304l-.459 2.066A1.75 1.75 0 0 0 10.747 15H11a.75.75 0 0 0 0-1.5h-.253a.25.25 0 0 1-.244-.304l.459-2.066A1.75 1.75 0 0 0 9.253 9H9Z" clip-rule="evenodd" fill-rule="evenodd"></path>
            </svg>
        }
    </span>
    <span class="alert-content">
        @ChildContent
    </span>
</div>

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public AlertLevel Level { get; set; } = AlertLevel.None;
}
