.alert {
    border-radius: 0.375rem;
    font-size: 0.875rem;
    padding: 1rem;
    display: flex;
}

.alert > *:not(:first-child) {
    margin-left: 0.75rem;
}

.alert-icon {
    flex-shrink: 0;
}

    .alert-icon svg {
        fill: rgb(var(--colors-blue-400-rgb));
        width: 1.25rem;
        height: 1.25rem;
    }

.alert-info {
    background-color: rgb(var(--colors-blue-50-rgb));
    --text-color-rgb: var(--colors-blue-700-rgb);
}
